mdb-card{
  max-width:600px;
  margin:auto;
  margin-top:7%;
}

pd-top-min{
  padding-top:10%;
}

.alert-cls{
  max-width:600px;
  margin:0 auto;
  text-align:center;
  margin-top:15px;
}

.login-scr{
  height:100vh;
}
