<section
  class="text-center px-md-5 mx-md-5 dark-grey-text"
  style="padding-top: 5%"
>
  <div class="row mb-5">
    <div class="col-md-6 mx-auto">
      <img
        src="./assets/images/vectors/error.png"
        class="img-fluid"
        alt="Creat Business Profile"
      />
    </div>
  </div>

  <h1 class="font-weight-bold mb-4 pb-2">
    We couldn't find what you are looking for!
  </h1>

  <p class="text-center mx-auto mb-2 pb-2">
    It may be gone somewhere or never been there :P
  </p>
</section>

<div class="text-center">
  <!-- <button
  mbdBtn
  mdbWavesEffect
  style="margin:0 auto;"
  class="btn btn-secondary btn-lg"
  (click)="backClicked()"
>
  get Back
</button> -->
</div>
