p {
  padding-left: 10px;
  padding-right: 10px;
}

.pd-top {
  padding-top: 10%;
}

.pd-img {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 90px;
  padding-bottom: 20px;
}

.pd-top-min {
  padding-top: 5%;
}

.logo-cls {
  padding-top: 10%;
  z-index: 10;
}

.txt-title {
  line-height: 400%;
  font-weight: bold;
  font-size: 25px;
}

.div-content {
  padding-top: 20px;
}

.f-image {
  position: absolute;
  z-index: -1;
}

.header-cls {
  position: relative;
}

.feature-img {
  width: 100%;
}

.logo-img {
  width: 150px;
  border-radius: 50%;
}

.cust-btn {
  margin: 0 auto;
}

.cust-row {
  padding-top: 20px;
  line-height: 40px;
  padding-bottom: 10px;
  text-align: center;
}

.verify-stat {
  font-size: 18px;
  font-weight: bold;
  color: darkgreen;
  text-align: right;
}

.map-container {
  width: 100%;
}

.content-title {
  font-weight: bold;
  font-size: 23px;
  text-align: left;
  padding-left: 10px;
}

.content-text {
  text-align: justify;
}

.state-text {
  font-weight: bold;
}

.open-state {
  color: darkred;
  font-weight: bold;
}

.stat-num {
  background-color: darkmagenta;
  color: white;
}

.stat-text {
  text-align: center;
  padding: 16px;
}

.stat-num {
  padding: 16px;
  vertical-align: middle;
  text-align: center;
}

.stat-no {
  font-size: 19px;
}

.stat-title {
  font-weight: bold;
  font-size: 14px;
}

.card-cls {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-left: 15px;
}

.profile-text {
  padding-top: 5px;
  font-weight: bold;
  font-size: 18px;
  color: darkgray;
}

@media only screen and (max-width: 600px) {
  .txt-title {
    line-height: 50px;
    color: darkslategray;
  }

  .feature-img {
    height: 135px;
    padding-right: 10px;
  }
  .cust-row {
    line-height: 20px;
  }
  .verify-stat {
    text-align: center;
    padding-top: 20px;
  }
}

//edit mode css

.cust-btn-circle {
  z-index: 100;
}

.cust-div {
  padding-top: 10%;
  text-align: right;
  padding-right: 10px;
}

.inst-text {
  font-weight: bold;
  color: darkslategray;
  padding-left: 5%;
  padding-top: 10px;
  text-align: left;
}

.edit-content {
  padding-top: 18%;
}

.btn-tab {
  margin-right: 20px;
}

.btn-lm {
  margin-left: 30px;
}

.logo-img-edit {
  width: 100px;
  border-radius: 50%;
}

.sevice-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.service-full-width {
  width: 90%;
}

.service-full-width-sm {
  width: 75%;
}

.f-image-edit {
  position: absolute;
  z-index: -1;
  margin-right: 6% !important;
  margin-top: 7%;
}

.pd-top-min {
  padding-top: 15px;
}

.btn-edt {
  width: 60%;
}

.infotxt {
  font-weight: 300 !important;
  font-size: 15px !important;
  color: gray !important;
  font-style: italic !important;
}

.boxed {
  box-shadow: 2 3 4 6 lightgray;
}

.btn-gr {
  margin-top: 30px;
  text-align: right;
  align-self: right;
  width: 100%;
}
