.pd-top-min{
  padding-top:25px;
}

.scraper-all{
  margin-top:20px;
  padding:25px;
  border:1px solid lightgray;
  border-radius: 7px;
  width: 70%;
}

.appointment-top {
  background-color: lightgray;
  padding-top:15px;
  padding-bottom:10px;
}

.duration-cls {
  font-weight: bold;
  font-size: 22px;
  color:darkgreen;
}

.payment-cls {
  font-weight: bold;
  font-size: 28px;
  color:darkmagenta;
}

.payment-cls-min {
  font-weight: bold;
  font-size: 25px;
  color:darkorchid;
}

.comment-cls{
  width:90%;
  margin:0 auto;
}


.txt-title{
  line-height:400%;
  font-weight:bold;
  font-size:200%;
  color:white;
}

.page-content{
  padding-top:20px;
}

.content-title{
  font-weight:bold;
  font-size: 28px;
  text-align:left;
  padding-top:15px;
}

.content-text{
  text-align:justify;
  padding:10px;
}

.state-text{
  font-weight:bold;
}

.open-state{
  color:darkred;
  font-weight:bold;
}



.sevice-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.service-full-width {
  width: 90%;
}

.service-full-width-sm {
  width: 75%;
}

.center-txt{
  text-align:center !important;
}

.check-margin {
  margin: 0 20px;
  font-weight:bold;
}

.check-lable{
 font-size:14px;
 font-weight:bold;
 padding-left:20px;
}
