<!-- Material form login -->

<div class="login-scr">
  <mdb-card>
    <mdb-card-header class="blue text-center white-text py-4">
      <h5>
        <b>Create New Password</b>
      </h5>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5 pd-top-min">
      <!-- Form -->
      <form [formGroup]="loginForm" style="color: #757575" #loginform="ngForm">
        <!-- Password -->
        <div class="md-form">
          <mdb-icon fas icon="key" class="prefix"></mdb-icon>
          <input
            type="password"
            id="materialLoginFormPassword"
            class="form-control"
            mdbInput
            required
            formControlName="password"
            name="password"
            ngModel
          />
          <mdb-error
            *ngIf="password.invalid && (password.dirty || password.touched)"
            >Enter a valid Password</mdb-error
          >
          <label for="materialLoginFormPassword">Your New Password</label>
        </div>

        <div class="md-form">
          <mdb-icon fas icon="key" class="prefix"></mdb-icon>
          <input
            type="password"
            id="materialLoginFormRetypePassword"
            class="form-control"
            mdbInput
            required
            formControlName="retype_password"
            name="retype_password"
            ngModel
          />
          <mdb-error
            *ngIf="
              retype_password.invalid &&
              (retype_password.dirty || retype_password.touched)
            "
            >Please Retype your Password Correctly</mdb-error
          >
          <label for="materialLoginFormRetypePassword"
            >Retype New Password</label
          >
        </div>

        <!-- Sign in button -->
        <button
          mdbBtn
          color="blue"
          outline="true"
          rounded="true"
          block="true"
          class="my-4 waves-effect z-depth-0"
          mdbWavesEffect
          routerLink="/"
        >
          Reset Password
        </button>

        <br />
        <br />
        <br />
      </form>
      <!-- Form -->
    </mdb-card-body>
  </mdb-card>

  <!-- Material form login -->
</div>
