<!-- Material form login -->

<div class="login-scr">
  <mdb-card>
    <mdb-card-header class="blue text-center white-text py-4">
      <h5>
        <b>Forgot Password?</b>
      </h5>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5 pd-top-min">
      <!-- Form -->
      <form [formGroup]="loginForm" style="color: #757575" #loginform="ngForm">
        <!-- Email -->
        <div class="md-form">
          <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
          <input
            mdbInput
            mdbValidate
            type="email"
            id="form8"
            class="form-control"
            formControlName="email"
            name="email"
            required
            ngModel
          />
          <label for="form8">Enter Email your account created with...</label>
          <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)"
            >Email Invalid</mdb-error
          >
        </div>

        <!-- Sign in button -->
        <button
          mdbBtn
          color="blue"
          outline="true"
          rounded="true"
          block="true"
          class="my-4 waves-effect z-depth-0"
          mdbWavesEffect
          routerLink="/createpw"
        >
          Send Password Reset Email
        </button>

        <br />
        <br />
        <br />
      </form>
      <!-- Form -->
    </mdb-card-body>
  </mdb-card>

  <!-- Material form login -->
</div>
