.br-back {
  background-color: rgb(38, 143, 12);
}

.cb-back {
  background-color: rgb(3, 107, 90);
}

.ar-back {
  background-color: rgb(127, 172, 6);
}

.er-back {
  background-color: royalblue;
}

.stat-cards {
  margin: 0 auto;
  margin-top: 20px;
}

.stat-card {
  text-align: center;
  margin: 20px;
}

.stat-text {
  padding: 16px;
  text-align: center;
}

.stat-num {
  padding-top: 16px;
  vertical-align: middle;
  text-align: center;
}

.stat-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.date-text {
  color: darkslategrey;
  font-weight: bold;
  text-align: right;
}

.stat-no {
  font-weight: bold;
  font-size: 42px;
  color: white;
  margin-left: 10px;
}
