<mdb-card>
  <div class="text-center container-fluid mt-5 mb-2">
    <img src="./assets/images/scraper/logo_lg.png" height="80" alt="web_scraper_logo"/>
  </div>
  <div class="text-center">
    <h3><strong>Create a free WebScraper Account</strong></h3>
    <p> Fill required details to create your free account</p>
  </div>

  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">
    <!-- Form -->
    <br />
    <form
      style="color: #757575"
      (submit)="signupUser(signupform)"
      #signupform="ngForm"
    >
      <div class="text-center">
        <mat-form-field class="mfield">
          <mat-label>Select Your Plan</mat-label>
          <mat-select required name="user_type" #user_type="ngModel" ngModel>
            <mat-option value="superAdmin"> $5 /mo (3 months free)</mat-option>
            <mat-option value="financialAdmin"> $10 /mo (3 months free)</mat-option>
            <mat-option value="moderator"> $25 /mo (3 months free</mat-option>
          </mat-select>
          <mat-error *ngIf="user_type.invalid">Select User Type</mat-error>
        </mat-form-field>
        <p> Read more Details about available package <a href="#">here. </a> <br> <b>No amount will be charged within the free trail period.</b></p>
        <hr>
        <div class="pt-2" >
          <h5>Your details</h5>
        </div>

        <mat-form-field class="mfield">
          <input
            matInput
            type="text"
            placeholder="Enter Your Name"
            required
            name="user_name"
            #user_name="ngModel"
            ngModel
          />
          <mat-error *ngIf="user_name.invalid">User Name is required</mat-error>
        </mat-form-field>

        <mat-form-field class="mfield">
          <input
            matInput
            type="email"
            placeholder="Enter Your Email"
            required
            name="user_email"
            #user_email="ngModel"
            ngModel
          />
          <mat-error *ngIf="user_email.invalid"
            >A valid Email is required</mat-error
          >
        </mat-form-field>

        <mat-form-field class="mfield">
          <input
            matInput
            placeholder="Enter Contact No"
            required
            name="contact_no"
            #contact_no="ngModel"
            ngModel
          />
          <mat-error *ngIf="contact_no.invalid"
            >Please Provide a Valid Contact No</mat-error
          >
        </mat-form-field>
<!--
        <mat-form-field class="mfield">
          <mat-label>Select User Gender</mat-label>
          <mat-select required name="gender" #gender="ngModel" ngModel>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="none">Prefer Not to Say</mat-option>
          </mat-select>
          <mat-error *ngIf="gender.invalid"
            >Please Select your Gender</mat-error
          >
        </mat-form-field> -->
      </div>

      <hr />

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="mfield">
            <input
              matInput
              type="password"
              placeholder="Enter Password"
              required
              pattern="^(?=.*\d).{4,8}$"
              name="user_pass"
              #user_pass="ngModel"
              ngModel
            />
            <mat-error *ngIf="user_pass.invalid"
              >Password is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="mfield">
            <input
              matInput
              type="password"
              placeholder="Retype Password"
              required
              pattern="^(?=.*\d).{4,8}$"
              name="user_pass_check"
              #user_pass_check="ngModel"
              ngModel
            />
            <mat-error *ngIf="user_pass_check.invalid"
              >Valid Password Cnfirmation is required</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <br />
      <br>

      <!-- Sign up complete button -->
      <button
        mdbBtn
        color="primary"
        rounded="true"
        block="true"
        mdbWavesEffect
        type="submit"
      >
        Create Free Account
      </button>
      <br />
    </form>
    <!-- Form -->
  </mdb-card-body>
</mdb-card>
