table {
  width: 100%;
}

td {
  min-width: 100px;
  width: 25%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.pd-top-min {
  margin-top: 5%;
  padding: 20px;
  margin: auto;
}

.info-text {
  padding-left: 5%;
  text-align: left;
  font-weight: bold;
  color: darkslategray;
  line-height: 30px;
}

.info-input {
  text-align: left;
  font-weight: 400;
  line-height: 30px;
}

.info-top {
  padding-top: 5%;
}

.info-text-net {
  padding-left: 5%;
  text-align: left;
  font-weight: bold;
  color: darkslategray;
  line-height: 33px;
}

.info-input-net {
  text-align: left;
  font-weight: bold;
  line-height: 33px;
  color: darkmagenta;
}

.profile-pic {
  height: 40px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.driver-name {
  font-weight: bold;
  font-size: 15px;
  padding-left: 8px;
}

.pickup-dropoff {
  font-weight: 800;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.driver-raw {
  align-items: center;
  display: flex;
}

.photo-raw {
  align-items: center;
  display: flex;
}

.photo-row > div {
  width: 45%;
}

.driver-raw-new {
  align-items: center;
  display: flex;
}

.profile-pic-large {
  height: 70px;
  border-radius: 50%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.driver-name-large {
  font-size: 20px;
  font-weight: bold;
}

.vehicle-details {
  padding: 6px;
  padding-right: 0;
  border: 2px solid darkgray;
  width: 95%;
  text-align: left;
}

.driver-raw-new > div {
  width: 33%;
}

.small-info {
  font-size: 14px;
}

.vehicle-type {
  font-weight: bold;
  font-size: 17px;
}

.seat-details {
  font-size: 15px;
}

.location {
  font-weight: bold;
  font-size: 17px;
}

.driver-name-details {
  text-align: left;
}
