.txt-800 {
  font-weight: 400;
  line-height: 17px;
}
.txt-bold {
  font-weight: bold;
}

.img-nav {
  border: solid 2px;
  border-color: white;
}

.mx-wd {
  min-width: 230px;
}

.navbar {
  background-color: rgb(13, 119, 10) !important;
}
